@import "../../../scss/index.scss";

.signupSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint("md-max") {
    grid-template-columns: 1fr;
  }

  height: 100vh;
  background-color: #000;

  .signupContainer {

    width: 100%;
  }
  .passwordField {
    position: relative;
  }
  
  .eyeIcon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .formContainer {
    background: #000;
    padding: 2rem 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    @include breakpoint("md-max") {
      padding: 2rem 50px;
    }

    @include breakpoint("sm-max") {
      padding: 2rem 20px;
    }

    .logo {
      width: 244px;
      height: 52px;
      margin-bottom: 30px;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input,
      select {
        padding: 0 20px;
        margin-bottom: 15px;
        border: 1px solid #999999 !important;
        width: 100%;
        height: 50px;
        border-radius: 5px;
        font-size: 14px;
        line-height: 24px;
        color: #f9f9f9 !important;
        background-color: #000 !important;

      }

      textarea {
        height: 90px;
        resize: none;
      }

      .inlineInputs {
        display: flex;
        gap: 1rem;

        input {
          width: calc(50% - 0.5rem);
        }
      }

      .center {
        text-align: center;

        a {
          color: #e74c3c;
        }
      }

      .forgotPassword {
        margin: 10px 0;

        a {
          color: #e74c3c;
        }
      }

      .inlineRadios {
        display: flex;
        align-items: baseline;
        gap: 1rem;
        margin-bottom: 1rem;

        @include breakpoint("sm-max") {
          display: block;
        }

        label {
          margin-right: 1rem;
        }

        div {
          display: flex;
          align-items: baseline;

          input {
            margin-right: 0.5rem;

            @include breakpoint("sm-max") {
              width: auto;

              &:first-child {
                margin-top: 10px !important;
              }
            }
          }
        }
      }

      .checkboxContainer {
        display: flex;
        align-items: baseline;
        margin-bottom: 1rem;

        input {
          width: auto;
          margin-right: 0.5rem;
        }

        a {
          color: #e74c3c;
          text-decoration: none;
        }
      }
    }

  }

  button {
    padding: 15px 20px;
    background: #e74c3c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    width: 100%;
  }

  .imageContainer {
    overflow: hidden;

    @include breakpoint("sm-max") {
      overflow: unset;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}