@import "../../../scss/index.scss";

.signupSection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint("md-max") {
    grid-template-columns: 1fr;
  }
  height: 100vh;
  background-color: #000;
  .radiogroup {
    display: flex;
    align-items: center;
    background-color: #23232c;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 12px;
  }
  .flex {
    display: flex;
  }

  .radiogroup label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
  }

  .radiogroup input[type="radio"] {
    display: none;
  }

  .radiogroup input[type="radio"]:checked + label {
    background-color: #4a4a4a;
  }

  .radiogroup label:not(:last-child) {
    border-right: 1px solid #707070;
  }
  .formContainer {
    background: #000;
    padding: 2rem 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    @include breakpoint("md-max") {
      padding: 2rem 50px;
    }
    @include breakpoint("sm-max") {
      padding: 2rem 20px;
    }

    .logo {
      img {
        height: 70px;
        width: 100%;
      }
    }

    h2 {
      margin-bottom: 1rem;
    }

    .avatarContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 1rem;

      .avatar {
        position: relative;
        background: #444;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        // overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }

        .icon {
          font-size: 3rem;
          color: white;
        }

        .plusIcon {
          position: absolute;
          bottom: 0;
          right: 0;
          background: #e74c3c;
          border-radius: 50%;
          width: 24px;
          height: 24px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: white;
          font-size: 1rem;
        }
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 100%;

      input,
      select {
        padding: 0.5rem;
        margin-bottom: 1rem;
        border: none;
        border-radius: 5px;
      }

      button {
        padding: 0.75rem;
        background: #e74c3c;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
    }

    p {
      margin-top: 1rem;

      a {
        color: #e74c3c;
        text-decoration: none;
      }
    }
  }

  .imageContainer {
    overflow: hidden;
    @include breakpoint("sm-max") {
      overflow: unset;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.multi-select {
  .react-select__control {
    display: flex;
    background-color: #2e2e2e;
    border: 1px solid #707070;
    border-radius: 8px;
    overflow: hidden;
    color: #fff;

    &:hover {
      border-color: #707070;
    }

    .react-select__value-container {
      padding: 10px;
      color: #fff;
    }

    .react-select__placeholder {
      color: #fff;
    }

    .react-select__indicator-separator {
      display: none;
    }

    .react-select__dropdown-indicator {
      color: #fff;

      &:hover {
        color: #fff;
      }
    }
  }

  .react-select__menu {
    background-color: #2e2e2e;
    border: 1px solid #707070;
    border-radius: 8px;
    color: #fff;

    .react-select__option {
      background-color: transparent;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: #4a4a4a;
      }

      &.react-select__option--is-selected {
        background-color: #4a4a4a;
      }
    }
  }

  .react-select__multi-value {
    background-color: #4a4a4a;
    color: #fff;

    .react-select__multi-value__label {
      color: #fff;
    }

    .react-select__multi-value__remove {
      color: #fff;

      &:hover {
        background-color: #707070;
        color: #fff;
      }
    }
  }
}
.rmsc .options{
  background-color: #2e2e2e;
  border: 1px solid #707070;
  border-radius: 8px;
  color: #fff;
}