@import "../../scss/index.scss";

.mainHeader {
  background-color: #000;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  padding: 20px;
  color: white;
  @include breakpoint("sm-max") {
    padding: 15px 0;
  }

  .logo {
    cursor: pointer;
    img {
      height: 40px;
      width: 100%;
    }
  }

  .searchContainer {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
    position: relative;
    @include breakpoint("sm-max") {
      margin: 0 3px;
      display: none;
    }

    .search {
      width: 280px;
      margin: auto;
      padding: 8px 12px;
      border-radius: 4px;
      border: none;
      background-color: #2c2c2c;
      color: white;
      @include breakpoint("sm-max") {
        width: 100%;
      }

      &::placeholder {
        color: #999;
      }
    }

    .searchIcon {
      position: absolute;
      right: 12px;
      color: #999;
    }
  }

  .icons {
    display: flex;
    align-items: center;
    gap: 20px;
    cursor: pointer;
    @include breakpoint("sm-max") {
      gap: 15px;
    }
    svg {
      padding-right: 20px;
      fill: white;
    }

    .icon {
      margin: 0 10px;
      font-size: 20px;
    }
    .userImgNoData {
      height: 40px;
      width: 40px;
      border-radius: 50%;
      border: 2px solid red;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: larger;
      font-weight: 500;
  }
    .userIcon {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 2px solid #e74c3c; // Adjust the border color to match the logo
      @include breakpoint("sm-max") {
        width: 25px;
        height: 25px;
      }
    }
    .defaultIcon {
      fill: white;
      height: 20px;
      width: 20px;
    }
  }
}
